.trapezoid-2 {
    border-bottom: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 200px;
    color: white;
    line-height: 110px;
    text-align: center;
    font-size: 50px;
  }